<div class="author">
  <img
    class="author-avatar"
    src="{{ site.author.avatar }}"
    alt="{{ site.author.username }}"
  />
  <h2 class="author-name">{{ site.author.name }}</h2>
  <p class="author-bio">{{ site.author.bio }}</p>
  <h4 class="author-name"><div> <a href="#" title="Email"><i class="fa fa-envelope"></i></a> &nbsp; <a href="" title="Twitter"><i class="fa fa-twitter"></i></a> &nbsp; <a href="https://github.com/samad1337" title="GitHub"><i class="fa fa-github"></i></a> &nbsp; <a href="https://www.linkedin.com/in/mohammad-abdussamad-12b7341b2/" title="LinkedIn"><i class="fa fa-linkedin"></i></a> &nbsp;<a href="#" title="Discord"><i class="fa fa-discord"></i></a> &nbsp; </div> </h4>
</div>
